<body class="text-center" data-gr-c-s-loaded="true" >
  
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 

    <%= f.email_field :email, autocomplete: "email" ,:placeholder => 'Email address',:class=>'form-control',:style =>"width:300px" %>
 
    <%= f.password_field :password, autocomplete: "current-password",:placeholder => 'Password',:class=>'form-control',:style =>"width:300px" %>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions" >
    <%= f.submit "Log in", :class => 'btn btn-primary' %><br />
  </div>
  
</body>
<% end %>

<%= render "devise/shared/links" %>
