<!DOCTYPE html>
<html>
  <head>
    <title>LearningHub</title>
  
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head> 

  <body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" <%= link_to "LearningHub", home_path %> </a>
  <button class="navbar-toggler">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <a class="nav" <%= link_to "Home", home_path %> </a> 
      <a class="nav" <%= link_to " Create Course", new_course_path %> </a>
      <% if current_user %>
                    <li><%= link_to 'Edit Profile',edit_user_registration_path %> </li>
                    <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %> </li>
                <% else %>
                    <li><%= link_to 'Login ', new_user_session_path %> </li>
                    <li><%= link_to 'Sign Up', new_user_registration_path %> </li>
                <% end %> 
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search Course" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    
<div class="container">
    <%= yield %>
      
    </div>
  </body>
</html>
